@font-face {
    font-family: 'WoodGod';
    src: url("../Font/WoodgodRegular-3zpjG.ttf");
}
body{
    background-image: url(../Images/ff14itemsbg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.topnav{
    background-color: rgba(0, 0, 0, 0.865);
    display: flex;
    justify-content: space-evenly;
    font-size: 60px;
    font-style: italic;
    border: solid; 
    width: 70%;
    height: 10%;
    margin-left: 20%;
    margin-top: -6%;
    border-radius: 30px;
}
.link{
    color: whitesmoke;
    font-family: WoodGod;
    font-size: 70%; 
    text-decoration: none;
}
.link:hover{
    color: rgba(245, 245, 245, 0.744);
}
#logo{
    width: 8%;
    margin-left: 8%;
    margin-top: 1%;
    border-radius: 45px;
}
#main{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}
#leftSide{
    height: 100%;
    width: 65%;
}
#rightSide{
    margin-right: 2%;
    right: 0;
    position: fixed;
    height: 100%;
    width: 30%
}
#loginContainer{
    display: flex;
    border: solid;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.863);
    font-style: italic;
    width: 60%;
    height: 11%;
    margin-top: 7%;
    margin-left: 23%;
}

.loginLink{
    font-size: 30px;
    color: #f5f5f5;   
}
.loginLink:hover{
    color: #d1cfcf;
}
.signupLink{
    font-size: 30px;
    color: #f5f5f5;
    border-top: white 2px solid;
}
.signupLink:hover{
    color: #d1cfcf
}
#characterPortrait{
    width: 70px;
    border-radius: 100%;
    border: solid;
    border-color: white;    
}
#acclinkContainer{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pfpContainer{
    display: flex;
    height:10px;
    width: 10px;
    margin-left: 23%;
    margin-top: 13%;
    margin-right: -5%;
    justify-content: center;
    align-items: center;
}
.jobguideContainer{
    margin-top: 20%;
    margin-left: 8%;
}
#craftguideButton{
    background-image: url(../Images/ffxivcrafting.webp);
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
    font-style: italic;
    font-family: WoodGod;
    display: flex;
    height: 200px;
    width: 70%;
    border: solid black;
    justify-content: center;
    align-items: center;
    margin-left: 12%;
    border-radius: 30px;
    font-size: 80px;
    margin-top: -8%;
    box-shadow: 14px 1px 10px black;
    margin-top: 5%;
    margin-right: 23%;
}
#craftguideButton:hover{
    box-shadow: 14px 1px 10px goldenrod;
    border-color: goldenrod;
}
#jobguideButton{
    background-image: url(../Images/ffxivalljobs.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
    font-style: italic;
    font-family: WoodGod;
    display: flex;
    height: 200px;
    width: 70%;
    border: solid black;
    justify-content: center;
    align-items: center;
    margin-left: 12%; 
    border-radius: 30px;
    font-size: 80px;
    box-shadow: 14px 1px 10px black;
    margin-top: 15%;
    margin-right: 23%;
}
#jobguideButton:hover{
    box-shadow: 14px 1px 10px goldenrod;
    border-color: goldenrod;   
}
.category-label{
    margin-left: 10px;

}
#itemContainer{ 
    background: #eeedede9;
    height: 100%;
    width: 70%;
    margin-left: 35%;
    border-radius: 30px;
    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 3%;
}
.source{
    margin-left: 3%;
}
#mount_image{
    border: solid rgba(138, 175, 196, 0.795);
    width: 25%;
    height: 40%;
    margin-left: 4%;
    margin-top: 4%;

}
.listItem{
    border: solid;
    margin-bottom: 10%;
    margin-right: 3%;
    background-color: rgba(245, 225, 124, 0.653);
    border-radius: 20px;
    box-shadow: 10px 5px 10px;
}
#buttonDiv{
    width: 25%;
    margin-left: 60%;
    
}
#addButton{
    width: 30%;
    margin-left: 60%;
    border-radius: 20px;
    font-family: woodgod;
    box-shadow: 8px 5px 10px;
}
#addButton:hover{
    background-color: rgb(143, 142, 142);
    color: whitesmoke;
    box-shadow:8px 5px 10px black;
}
#addButtonAch{
    width: 30%;
    margin-left: 60%;
    border-radius: 20px;
    font-family: woodgod;
    box-shadow: 8px 5px 10px;
    margin-bottom: 4%;
}
#addButtonAch:hover{
    background-color: rgb(143, 142, 142);
    color: whitesmoke;
    box-shadow:8px 5px 10px black;
}

#name{
    margin-left: 30%;
    margin-top: -100px;
    font-size: 40px;;
    text-decoration: underline;
    width: 50%;
    text-align: center;
    
}
#patch{
    margin-left: 4%;
    margin-top: -4%;
    width: 65%;
}
#percentOwned{
    margin-left: 4%;
    margin-top: -4%;
    margin-bottom: 3%;
}
#minion_image{
    border: solid black;
    background-color: black;
    border-radius: 20px;
    width: 20%;
    height: 20%;
    margin-bottom: 4%;
    margin-top: 3%;
    margin-left: 3%;
    box-shadow: 8px 6px 10px;
}
#description{
    width: 80%;
    margin-left: 4%;
}

#itemlist{

    margin-left: 1%;
    margin-bottom: 4%;
    margin-right: 5%;
    margin-top: 5%;
    font-size: 30px;
}



