@font-face {
    font-family: 'WoodGod';
    src: url("../Font/WoodgodRegular-3zpjG.ttf");
}
body{
    background-image: url(../Images/ff14itemsbg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#main{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}
.topnav{
    background-color: rgba(0, 0, 0, 0.865);
    display: flex;
    justify-content: space-evenly;
    font-size: 60px;
    font-style: italic;
    border: solid; 
    width: 70%;
    height: 10%;
    margin-left: 20%;
    margin-top: -6%;
    border-radius: 30px;
}
.link{
    color: whitesmoke;
    font-family: WoodGod;
    font-size: 70%; 
    text-decoration: none;
}
.link:hover{
    color: rgba(245, 245, 245, 0.744);
}
#logo{
    width: 8%;
    margin-left: 8%;
    margin-top: 1%;
    border-radius: 45px;
}
#main{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}
#leftSide{
    height: 100%;
    width: 65%;
}
.category-label{
    margin-left: 10px;

}
#itemContainer{
    background: #eeedede9;
    height: 100%;
    width: 70%;
    margin-left: 35%;
    border-radius: 30px;
    font-size: 30px;
    padding-top: 1%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    margin-top: 1%;
    margin-bottom: 3%;
}
.source{
    margin-left: 3%;
}
#mount_image{
    width: 25%;
    height: 40%;
    margin-left: 4%;
    margin-top: 4%;
}
.listItem{
    border: solid;
    margin-bottom: 10%;
    margin-right: 3%;
    background-color: rgba(239, 226, 157, 0.763);
    border-radius: 20px;
    box-shadow: 10px 5px 10px;
}
#buttonDiv{
    width: 25%;
    margin-left: 60%;
    
}
#addButton{
    width: 30%;
    margin-left: 60%;
    border-radius: 20px;
    font-family: woodgod;
    box-shadow: 8px 5px 10px;
}
#addButton:hover{
    background-color: rgb(143, 142, 142);
    color: whitesmoke;
    box-shadow:8px 5px 10px black;
}
#name{
    margin-left: 30%;
    margin-top: -100px;
    font-size: 50px;;
    text-decoration: underline;
    width: 50%;
    text-align: center;
    text-wrap:nowrap;
}
#patch{
    margin-left: 4%;
    margin-top: -4%;
    width: 65%;
}
#percentOwned{
    margin-left: 4%;
    margin-top: -4%;
    margin-bottom: 3%;
}
#minion_image{
    border: solid black;
    background-color: black;
    border-radius: 20px;
    width: 20%;
    height: 20%;
    margin-bottom: 4%;
    margin-top: 3%;
    margin-left: 3%;
}
#description{
    width: 80%;
    margin-left: 4%;
}

#itemlist{
    margin-left: 1%;
    margin-bottom: 4%;
    margin-right: 2%;
    margin-top: 5%;
    font-size: 30px;
}


