@font-face {
    font-family: 'WoodGod';
    src: url("../Font/WoodgodRegular-3zpjG.ttf");
}
.newspagebody{
    background-image: url(../Images/ffxivnewsbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   
}
#main{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}

.links{
    color: whitesmoke;
    font-family: WoodGod;
    font-size: 70%;
    margin-top: 10px;   
    text-decoration: none;
}
.links:hover{
    color: rgba(245, 245, 245, 0.744);
    text-decoration: underline !important;
}

#rightSide{
    margin-right: 2%;
    right: 0;
    position: fixed;
    height: 100%;
    width: 30%
}
.newsinfoBar{
    background-color: rgba(0, 0, 0, 0.852);
    display: flex;
    justify-content: space-evenly;
    font-size: 45px;
    font-style: italic;
    border: solid; 
    width: 80%;
    margin-top: 5%;
    margin-left: 29%;
    margin-bottom: 1%;   
    border-radius: 50px;
}
a {
    text-decoration: none !important;
  }

.info{
    background: #eeedede9;
    height: 100%;
    width: 70%;
    margin-left: 33%;
    border-radius: 30px;
    font-size: 25px;
    padding-top: 1%;
    padding-left: 1%;
}
.listItem{
    margin-left: 2%;
    margin-bottom: 4%;
    margin-right: 2%;
    height: 40%;
}
#listlogoimg{
    width: 10%;
    border-radius: 15px;
    
}
#listitemimg{
    background-color: black;
    border-radius: 10px;
    width: 90%;
    height: 20%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-right: 3%;
}
#loginContainer{
    display: flex;
    border: solid;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.863);
    font-style: italic;
    width: 60%;
    height: 11%;
    margin-top: 7%;
    margin-left: 23%;
}
.loginLink{
    font-size: 30px;
    color: #f5f5f5;   
}
.loginLink:hover{
    color: #d1cfcf;
}
.signupLink{
    font-size: 30px;
    color: #f5f5f5;
    border-top: white 2px solid;
}
.signupLink:hover{
    color: #d1cfcf
}
#characterPortrait{
    width: 70px;
    border-radius: 100%;
    border: solid;
    border-color: white;    
}
#acclinkContainer{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pfpContainer{
    display: flex;
    height:10px;
    width: 10px;
    margin-left: 23%;
    margin-top: 13%;
    margin-right: -5%;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1440px) {

    #craftguideButton{
        margin-left: 29%;
        width: 50%;
        font-size: 40px;
    }

    #jobguideButton{
        margin-left: 29%;
        width: 50%;
        font-size: 40px;
    }
    #loginContainer{
        width: 60%;
        margin-right: auto;
    } 
    #characterPortrait{
        margin-top: 10px;
        width: 60px;
    }
    .infoBar{
        font-size: 40px;
    }
}