.loginpagebody{
    background-image: url(../Images/ffxivprofilebg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%; 
}

#logintopnav{
    background-color: rgba(0, 0, 0, 0.865);
    display: flex;
    justify-content: space-evenly;
    font-size: 60px;
    font-style: italic;
    border: solid; 
    width: 70%;
    margin-left: 20%;
    margin-top: -6%;
    border-radius: 30px;
}
.link{
    color: whitesmoke;
    font-family: WoodGod;
    font-size: 70%; 
    text-decoration: none;
}
.link:hover{
    color: rgba(245, 245, 245, 0.744);
}
#logo{
    width: 8%;
    margin-left: 8%;
    margin-top: 1%;
    border-radius: 45px;
}

#formContainer{
    height: 100%;
    width: 50%;
    margin-left: 27%;
}
#loginContainer{
    margin-top: 3%;
    margin-left: 27%;
    width: 60%;
    height: 100%;
}
#contactForm{
    background-color: #d9d9d9e6;
    display: flex;
    width: 80% !important;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: woodgod;
    border-radius: 20px;
    box-shadow: 10px 1px 10px;
    margin-top: 10%;
    
}
#contactHeader{
    font-size: 50px;
    text-decoration: underline;
    margin-bottom: 2%;
    margin-top: -5%;
}
#password{
    width: 30%;
    margin-bottom: 1%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 7px;
    box-shadow:5px 1px 10px;
}
#confirmPassword{
    width: 30%;
    margin-bottom: 1%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 7px;
    box-shadow:5px 1px 10px;
}
#emailInput{
    width: 30%;
    margin-bottom: 1%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 7px;
    box-shadow:5px 1px 10px;
}
#loginInput{
    margin-top: 3%;
    border-radius: 10px;
    margin-bottom: 20%;
    box-shadow: 5px 1px 10px;
}
#loginInput:hover{
    background-color: rgb(210, 207, 207);
}
#profileOptions{
    display: flex;
    flex-direction: row;
    color: black !important;
    font-family: woodgod;
    margin-left: 35%;
    font-size: 25px;
    margin-top: -10%;
    text-decoration: underline;
}
#line{
    background-color: black;
    width: 1px;
    
}
.loginOptions{
    color: black;
    margin-left: 15%;    
}
a:hover{
    color: black;
}

